 <link rel="stylesheet" href="/css/header.css"> 
 <header class="header">
        <div class="container">
            <!-- LOGOn.png link added here -->
            <a href="/" class="logo">
                <img src="/img/LOGOn.png" alt="RAISE Logo" class="header-logo">
            </a>
            <nav class="nav">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">How it Works</a></li>
                    <li><a href="#">FAQs</a></li>
                </ul>
            </nav>
            <div class="auth-buttons">
                <a href="#" class="btn-login">Login</a>
                <a href="#" class="btn-signup">Sign Up</a>
            </div>
        </div>
    </header>