 <link rel="stylesheet" href="/css/header.css"> 
 <header class="header">
        <div class="container">
            <!-- LOGOn.png link added here -->
            <a href="/" class="logo">
                <img src="/img/LOGOn.png" alt="RAISE Logo" class="header-logo">
            </a>
            <nav class="nav">
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/info">About</a></li>
                    <li><a href="/info">How it Works</a></li>
                    <li><a href="/info">FAQs</a></li>
                </ul>
            </nav>
            <div class="auth-buttons">
                <a href="/login" class="btn-login">Login</a>
                <a href="/signup" class="btn-signup">Sign Up</a>
            </div>
        </div>
    </header>