<link rel="stylesheet" href="/css/footer.css"> 
<footer class="footer">
        <div class="container">
            <div class="footer-top">
                <div class="footer-logo">RAISE <br><p>contact@raise.in</p></div>
                <div class="footer-links-group">
                    <h4>Quick Links</h4>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">How it Works</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
                <div class="footer-links-group">
                    <h4>Legal</h4>
                    <ul>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms & Conditions</a></li>
                        <li><a href="#">Disclaimer</a></li>
                    </ul>
                </div>
                <div class="footer-social">
                    <h4>Connect With Us</h4>
                    <div class="social-icons">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <p>&copy; 2025 RAISE. All rights reserved.</p>
            </div>
        </div>
    </footer>